
 .container{
     text-align: center;
     background-color: rgb(236, 212, 212);
     width: 80%;
     height: 500px;
     margin-left: 130px;

 }
 
 .btn{
     margin-top: 20px;
     /* background-color: rgb(163, 153, 165); */
     color: rgb(41, 39, 39);
     display: inline-block;
 }


 body {
     background-color: rgb(49, 56, 56);
 }
h1 {
    height: 100px;
padding-top: 50px;
color: rgb(114, 18, 138);
margin-left: 25px;
font-size: 45px;
text-align: left;
font-family: sans-serif;
}
h2 {
    text-align: center;
    color: rebeccapurple;
    text-decoration: rgb(80, 8, 99);
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
}
h3 {
    color:rebeccapurple;
    text-decoration-line: underline;
}

button {
    background-color: violet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    font-weight: bold;
}
input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
}
.from {
    margin: 30px;
    padding: 2px;
}